out/
generated/
/lib/firrtl.jar
/build
.classpath
.idea
.idea_modules/
.project
target/
*.iml
*.swp
*.fir
*.v
*.sv
test_run_dir
*~
\#*\#
.\#*
.metals
.bloop
.scala-build
metals.sbt
version.txt
.bsp
/.vscode
/_mlir
/_llvm
/_circt
